[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "0.24.4"
pyyaml = "*"

[dev-packages]
black = "*"
isort = "*"
commitizen = "*"
invoke = "*"
mkdocs = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
